<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <section class="page-header">
      <a href="/" class="project-name">{{ site.title }}</a>
      <span class="header-buttons">
      <a href="/" class="btn">about</a>
      <a href="/projects" class="btn">projects</a>
      <a href="/assets/files/CV2017.pdf" class="btn">cv</a>
      <!-- <a href="/blog" class="btn">blog</a> -->
      </span>
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-social">
          <a href="mailto:april.tuesday@gmail.com" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope-o"></i></a>
          <a href="https://www.facebook.com/apriltuesday" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
          <a href="https://twitter.com/bachesch" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/apriltuesday" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
          <a href="https://github.com/apriltuesday" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
        </span>
        <span class="site-footer-credits">&copy;2013-2017 april tuesday shen<br>
        hosted by <a href="https://pages.github.com">github</a> &#9900; theme based on <a href="https://github.com/pages-themes/cayman">cayman</a></span>
      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>